|{% set resume_section = { 
| 'ao_firstcolwidth': '10.4', 'ao_secondcolswidth': '12.8', 'ao_colswidth': '12.8', 
| 'av_firstcolwidth': '10.4', 'av_secondcolswidth': '12.8', 'av_colswidth': '12.8', 
| 'b_firstcolwidth': '10.4', 'b_colwidth': '29.8666666667'
| } %}
|{% if data.tipoComision and data.tipoComision|lower == 'remuneración' %}
|{% do resume_section.update({ 'ao_firstcolwidth': '8.97', 'ao_secondcolwidth': '14.3', 'ao_colswidth': '13.2' }) %}
|{% do resume_section.update({ 'av_firstcolwidth': '8.97', 'av_secondcolwidth': '14.3', 'av_colswidth': '11' }) %}
|{% do resume_section.update({ 'b_firstcolwidth': '8.97', 'b_colwidth': '30.34' }) %}
|{% endif %}
#resume.section
  .inner
    .title-content
      h1.title 
        |{% if data.tipoAfiliado|lower == 'v' %}
        | Resumen de tu cuenta
        |{% else %}
        | Resumen de tu cuenta en Profuturo 
        |{% endif %}
      small( style='display: inline; font-size: 9pt;') (Del {{data.primerAporte}} al {{data.fecFinal}})

    |{% set apo_empty = { 'table_hide': 1 } %}
    |{% if data.tipoAfiliado|lower != 'v' %}
    |{% do apo_empty.update({ 'table_hide': 0 }) %}
    table#resume-apo.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.link-content.small( rowspan='4', style!="width: {{ resume_section.get('ao_firstcolwidth') }}%" )
          | Conoce los 
          br
          | t&eacute;rminos de 
          br
          | Aportes 
          br
          | Obligatorios 
          br
          a( href='https://folleteria.profuturo.com.pe/aprende-como-leer-tu-estado-de-cuenta/aportes-obligatorios' target='_blank' ) aqu&iacute;

        td.group-title.title.small( colspan='7' )
          | Aportes Obligatorios

      tr
        td.title.small( style!="width: {{ resume_section.get('ao_secondcolwidth') }}%" ) Tipo de Aporte

        td.small( style!="width: {{ resume_section.get('ao_colswidth') }}%" ) Tipo de Fondo

        td.small( style!="width: {{ resume_section.get('ao_colswidth') }}%" ) Aportes 
          br
          | Acumulados S/

        td.small( style!="width: {{ resume_section.get('ao_colswidth') }}%" ) Retiros y Cargos 
          br
          | Acumulados S/

        td.small( style!="width: {{ resume_section.get('ao_colswidth') }}%" ) Rentabilidad 
          br
          | Acumulada S/

        |{% if data.tipoComision and data.tipoComision|lower == 'remuneración' %}
        |{% else %}
        td.small( style!="width: {{ resume_section.get('ao_colswidth') }}%" ) Comisi&oacute;n 
          br
          | Acumulada S/
        |{% endif %}

        td.small( style!="width: {{ resume_section.get('ao_colswidth') }}%" ) Saldo 
          br
          | Actual S/
        
      tr
        td.title.small 
          |{% if data.tipoComision and data.tipoComision|lower == 'remuneración' %}
          | Obligatorio
          |{% else %}
          | Obligatorio Inafecto
          |{% endif %}

        td.small {{data.fondoOblInaf}}

        td.small {{data.aporteOblInaf}}

        td.small {{data.cargosOblInaf}}

        td.small {{data.rendimientoOblInaf}}

        |{% if data.tipoComision and data.tipoComision|lower == 'remuneración' %}
        |{% else %}
        td.small {{data.comisionOblInaf}}
        |{% endif %}

        td.small {{data.saldoOblInaf}}

      |{% if data.tipoComision and data.tipoComision|lower == 'remuneración' %}
      |{% else %}
      tr
        td.title.small Obligatorio Afecto

        td.small {{data.fondoOblAfec}}

        td.small {{data.aporteOblAfec}}

        td.small {{data.cargosOblAfec}}

        td.small {{data.rendimientoOblAfec}}

        |{% if data.tipoComision and data.tipoComision|lower == 'remuneración' %}
        |{% else %}
        td.small {{data.comisionOblAfec}}
        |{% endif %}

        td.small {{data.saldoOblAfec}}
      |{% endif %}
    |{% endif %}


    |{% set apv_empty = { 'row': 0, 'table_hide': 1 } %}
    |{% if
    | data.tipoAfiliado|lower == 'v' or
    | (
    | (data.aporteVcf and data.aporteVcf != '0.00') or
    | (data.cargosVcf and data.cargosVcf != '0.00') or
    | (data.rendimientoVcf and data.rendimientoVcf != '0.00') or
    | (data.comisionVcf and data.comisionVcf != '0.00') or
    | (data.saldoVcf and data.saldoVcf != '0.00') or
    | (data.aporteVsf and data.aporteVsf != '0.00') or
    | (data.cargosVsf and data.cargosVsf != '0.00') or
    | (data.rendimientoVsf and data.rendimientoVsf != '0.00') or
    | (data.comisionVsf and data.comisionVsf != '0.00') or
    | (data.saldoVsf and data.saldoVsf != '0.00')
    | )
    |%}
    |{% do apv_empty.update({ 'table_hide': 0 })  %}
    table#resume-apv.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.link-content.small( rowspan='4', style="width: {{ resume_section.get('av_firstcolwidth') }}%" )
          | Conoce los 
          br
          | t&eacute;rminos de 
          br
          | Aportes 
          br
          | Voluntarios  
          br
          a( href='https://folleteria.profuturo.com.pe/aprende-como-leer-tu-estado-de-cuenta/aportes-voluntarios' target='_blank' ) aqu&iacute;

        td.group-title.title.small( colspan='7' )
          | Aportes Voluntarios

      tr
        td.title.small( style!="width: {{ resume_section.get('av_secondcolwidth') }}%" ) Tipo de Aporte
          br
          | Voluntario

        td.small( style!="width: {{ resume_section.get('av_colswidth') }}%" ) Tipo de Fondo

        td.small( style!="width: {{ resume_section.get('av_colswidth') }}%" ) Aportes 
          br
          | Acumulados S/

        td.small( style!="width: {{ resume_section.get('av_colswidth') }}%" ) Retiros y Cargos 
          br
          | Acumulados S/

        td.small( style!="width: {{ resume_section.get('av_colswidth') }}%" ) Rentabilidad 
          br
          | Acumulada S/

        td.small( style!="width: {{ resume_section.get('av_colswidth') }}%" ) Comisi&oacute;n 
          br
          | Acumulada S/

        td.small( style!="width: {{ resume_section.get('av_colswidth') }}%" ) Saldo 
          br
          | Actual S/
        
      |{% if 
      | data.tipoAfiliado|lower != 'v' and (
      | (data.aporteVcf and data.aporteVcf != '0.00') or
      | (data.cargosVcf and data.cargosVcf != '0.00') or
      | (data.rendimientoVcf and data.rendimientoVcf != '0.00') or
      | (data.comisionVcf and data.comisionVcf != '0.00') or
      | (data.saldoVcf and data.saldoVcf != '0.00')
      | )
      | %}
      |{% do apv_empty.update({ 'row': apv_empty.get('row') + 1 })  %}
      tr
        td.title.small Con Fin 
          br
          | Previsional

        td.small {{data.fondoVcf}}

        td.small {{data.aporteVcf}}

        td.small {{data.cargosVcf}}

        td.small {{data.rendimientoVcf}}

        td.small {{data.comisionVcf}}

        td.small {{data.saldoVcf}}
      |{% endif %}
        
      |{% if
      | (data.aporteVsf and data.aporteVsf != '0.00') or
      | (data.cargosVsf and data.cargosVsf != '0.00') or
      | (data.rendimientoVsf and data.rendimientoVsf != '0.00') or
      | (data.comisionVsf and data.comisionVsf != '0.00') or
      | (data.saldoVsf and data.saldoVsf != '0.00')
      | %}
      |{% do apv_empty.update({ 'row': apv_empty.get('row') + 1 })  %}
      tr
        td.title.small Sin Fin 
          br
          | Previsional

        td.small {{data.fondoVsf}}

        td.small {{data.aporteVsf}}

        td.small {{data.cargosVsf}}

        td.small {{data.rendimientoVsf}}

        td.small {{data.comisionVsf}}

        td.small {{data.saldoVsf}}
      |{% endif %}

      |{% if apv_empty.get('row') == 0 %}
      tr
        td.title.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;
      |{% endif %}
    |{% endif %}

    |{% set bono_empty = { 'table_hide': 1 } %}
    |{% if data.tipoAfiliado|lower != 'v' %}
    |{% if
    | (data.bonoNominal and data.bonoNominal != '0.00') or
    | (data.bonoActualizado and data.bonoActualizado != '0.00')
    |%}
    |{% do bono_empty.update({ 'table_hide': 0 }) %}
    br
    table#resume-bono.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.link-content.small( rowspan='4' style!="width: {{ resume_section.get('b_firstcolwidth') }}%" )
          | Conoce los t&eacute;rminos de
          br 
          | Bono de Reconocimiento
          br
          a( href='https://folleteria.profuturo.com.pe/aprende-como-leer-tu-estado-de-cuenta/bono-de-reconocimiento' target='_blank' ) aqu&iacute;

        td.group-title.title.small( colspan='7' )
          | Bono de Reconocimiento

      tr
        td.small(  style!="width: {{ resume_section.get('b_colwidth') }}%" ) Situaci&oacute;n

        td.small(  style!="width: {{ resume_section.get('b_colwidth') }}%" ) Valor Nominal S/

        td.small(  style!="width: {{ resume_section.get('b_colwidth') }}%" ) Valor Actualizado S/

      tr
        td.small {{data.bonoSituacion}}

        td.small {{data.bonoNominal}}

        td.small {{data.bonoActualizado}}

    |{% endif %}
    |{% endif %}
