#resume.section
  .inner
    .title-content
      h1.title Resumen de tu cuenta en Profuturo 
      small( style='display: inline;') (Del {{data.primerAporte}} al {{data.fecFinal}})

    table#resume-apo.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.link-content.small( rowspan='4' style='width: 8.97%' )
          | Conoce los 
          br
          | t&eacute;rminos de 
          br
          | Aportes 
          br
          | Obligatorios 
          br
          a( href='https://folleteria.profuturo.com.pe/aprende-como-leer-tu-estado-de-cuenta/aportes-obligatorios' target='_blank' ) aqu&iacute;

        td.group-title.title.small( colspan='7' )
          | Aportes Obligatorios

      tr
        td.title.small( style="width: 14.3%;" ) Tipo de Aporte

        td.small( style="width: 13.2%;" ) Tipo de Fondo

        td.small( style="width: 13.2%;" ) Aportes 
          br
          | Acumulados S/

        td.small( style="width: 13.2%;" ) Retiros y Cargos 
          br
          | Acumulados S/

        td.small( style="width: 13.2%;" ) Rentabilidad 
          br
          | Acumulada S/

        td.small( style="width: 13.2%;" ) Saldo 
          br
          | Actual S/
        
      tr
        td.title.small Obligatorio

        td.small {{data.fondoOblInaf}}

        td.small {{data.aporteOblInaf}}

        td.small {{data.cargosOblInaf}}

        td.small {{data.rendimientoOblInaf}}

        td.small {{data.saldoOblInaf}}


    |{% set apv_empty = { 'row': 0, 'table_hide': 1 } %}
    |{% if
    | data.tipoAfiliado == 'V' or
    | (
    | (data.aporteVcf and data.aporteVcf != '0.00') or
    | (data.cargosVcf and data.cargosVcf != '0.00') or
    | (data.rendimientoVcf and data.rendimientoVcf != '0.00') or
    | (data.comisionVcf and data.comisionVcf != '0.00') or
    | (data.saldoVcf and data.saldoVcf != '0.00') or
    | (data.aporteVsf and data.aporteVsf != '0.00') or
    | (data.cargosVsf and data.cargosVsf != '0.00') or
    | (data.rendimientoVsf and data.rendimientoVsf != '0.00') or
    | (data.comisionVsf and data.comisionVsf != '0.00') or
    | (data.saldoVsf and data.saldoVsf != '0.00')
    | )
    | %}
    |{% do apv_empty.update({ 'table_hide': 0 })  %}
    br
    table#resume-apv.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.link-content.small( rowspan='4' style='width: 8.97%' )
          | Conoce los 
          br
          | t&eacute;rminos de 
          br
          | Aportes 
          br
          | Voluntarios  
          br
          a( href='https://folleteria.profuturo.com.pe/aprende-como-leer-tu-estado-de-cuenta/aportes-voluntarios' target='_blank' ) aqu&iacute;

        td.group-title.title.small( colspan='7' )
          | Aportes Voluntarios

      tr
        td.title.small( style="width: 14.3%;" ) Tipo de Aporte 
          br
          | Voluntario

        td.small( style="width: 11%;" ) Tipo de Fondo

        td.small( style="width: 11%;" ) Aportes Acumulados S/

        td.small( style="width: 11%;" ) Retiros y Cargos Acumulados S/

        td.small( style="width: 11%;" ) Rentabilidad Acumulada S/

        td.small( style="width: 11%;" ) Comisi&oacute;n Acumulada S/

        td.small( style="width: 11%;" ) Saldo Actual S/
        
      |{% if
      | (data.aporteVcf and data.aporteVcf != '0.00') or
      | (data.cargosVcf and data.cargosVcf != '0.00') or
      | (data.rendimientoVcf and data.rendimientoVcf != '0.00') or
      | (data.comisionVcf and data.comisionVcf != '0.00') or
      | (data.saldoVcf and data.saldoVcf != '0.00')
      | %}
      |{% do apv_empty.update({ 'row': apv_empty.get('row') + 1 })  %}
      tr
        td.title.small Con Fin Previsional

        td.small {{data.fondoVcf}}

        td.small {{data.aporteVcf}}

        td.small {{data.cargosVcf}}

        td.small {{data.rendimientoVcf}}

        td.small {{data.comisionVcf}}

        td.small {{data.saldoVcf}}
      |{% endif %}
        
      |{% if
      | (data.aporteVsf and data.aporteVsf != '0.00') or
      | (data.cargosVsf and data.cargosVsf != '0.00') or
      | (data.rendimientoVsf and data.rendimientoVsf != '0.00') or
      | (data.comisionVsf and data.comisionVsf != '0.00') or
      | (data.saldoVsf and data.saldoVsf != '0.00')
      | %}
      |{% do apv_empty.update({ 'row': apv_empty.get('row') + 1 })  %}
      tr
        td.title.small Sin Fin Previsional

        td.small {{data.fondoVsf}}

        td.small {{data.aporteVsf}}

        td.small {{data.cargosVsf}}

        td.small {{data.rendimientoVsf}}

        td.small {{data.comisionVsf}}

        td.small {{data.saldoVsf}}
      |{% endif %}

      |{% if apv_empty.get('row') == 0 %}
      tr
        td.title.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;

        td.small &nbsp;
      |{% endif %}
    |{% endif %}

    |{% set bono_empty = { 'table_hide': 1 } %}
    |{% if 
    | (data.bonoSituacion and data.bonoSituacion != '0.00') or
    | (data.bonoNominal and data.bonoNominal != '0.00') or
    | (data.bonoActualizado and data.bonoActualizado != '0.00')
    |%}
    |{% do bono_empty.update({ 'table_hide': 0 }) %}
    br
    table#resume-bono.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.link-content.small( rowspan='4' style='width: 8.97%' )
          | Conoce los t&eacute;rminos de
          br 
          | Bono de Reconocimiento
          br
          a( href='https://folleteria.profuturo.com.pe/aprende-como-leer-tu-estado-de-cuenta/bono-de-reconocimiento' target='_blank' ) aqu&iacute;

        td.group-title.title.small( colspan='7' )
          | Bono de Reconocimiento

      tr
        td.small( style="width: 30.34%;" ) Situaci&oacute;n

        td.small( style="width: 30.34%;" ) Valor Nominal S/

        td.small( style="width: 30.34%;" ) Valor Actualizado S/

      tr
        td.small {{data.bonoSituacion}}

        td.small {{data.bonoNominal}}

        td.small {{data.bonoActualizado}}

    |{% endif %}